<div class="container mb-5 bannerPrincipal">
  <a href="https://play.google.com/store/apps/details?id=com.kikepe.sacameeldescuento">
    <img src="../../assets/img/banner.png" alt="">
  </a>
</div>
<div class="container">
  <div class="row margenEspacio">
    <div class="col holderTexto text-right">
      <h1>¿Cómo funciona?</h1>
      <p>Como en una calculadora, ingrese el precio al que desee calcular el descuento y elija un descuento de los que ya están definidos o ingrese uno que no figure en los botones.</p>
    </div>
    <div class="col holderImagen">
      <img src="../../assets/img/paso1.png" alt="">
    </div>

  </div>
  <div class="row margenEspacio segundoPaso">
    <div class="col holderImagen text-right">
      <img src="../../assets/img/paso2.png" alt="">
    </div>
    <div class="col holderTexto">
      <h1>Múltiple descuento</h1>
      <p>Luego de haber calculado un descuento principal, puede seleccionar un descuento adicional en base al primer descuento calculado. <br>
      En la seccion del resultado se muestran los descuentos calculados y el total a pagar.</p>
    </div>


  </div>

  <div class="row margenEspacio" id="politicas">
    <div class="col">
      <h1>Política de privacidad de la aplicación</h1>
      <div class="holderPoliticas">
        <p>Esta aplicación no recopila ningún dato personal de sus usuarios.</p>
        <p>
          Aseguramos que no se recopilan ninguno de los siguientes datos personales: Permiso de contactos, Permiso de la cámara, Permiso de micrófono, Permiso de cuentas de redes sociales, Permiso de ubicación geográfica, Cookies, Datos de uso, dirección de correo electrónico, contraseñas, identificadores de dispositivos únicos para publicidad.

          Los servicios de esta aplicación son de uso gratuito y no se requiere ninguno de los datos antes mensionados para su funcionamiento. En los casos en que esta Aplicación indique específicamente que algunos Datos son obligatorios, los Usuarios son libres de no comunicar estos Datos sin consecuencias para la disponibilidad o el funcionamiento de la aplicación.
          Los usuarios que no estén seguros de qué datos personales son obligatorios pueden ponerse en contacto con el propietario.


        </p>
        <p>Los derechos de los usuarios</p>
        <p>
          En el supuesto caso que en un futuro se le pida acceso a datos personales.
          Los usuarios pueden ejercer ciertos derechos con respecto a sus Datos procesados por el Titular.

          En particular, los usuarios tienen derecho a hacer lo siguiente:

          Retirar su consentimiento en cualquier momento. Los usuarios tienen derecho a retirar el consentimiento cuando previamente hayan prestado su consentimiento para el procesamiento de sus Datos Personales.
          Objetar el procesamiento de sus Datos. Los usuarios tienen derecho a oponerse al procesamiento de sus Datos si el procesamiento se lleva a cabo sobre una base legal distinta al consentimiento. Se proporcionan más detalles en la sección dedicada a continuación.
          Accede a sus datos. Los usuarios tienen derecho a saber si el propietario está procesando los datos, obtener información sobre ciertos aspectos del procesamiento y obtener una copia de los datos que se procesan.
          Verificar y buscar rectificación. Los usuarios tienen derecho a verificar la exactitud de sus datos y solicitar que se actualicen o corrijan.
          Restringir el procesamiento de sus Datos. Los usuarios tienen derecho, en determinadas circunstancias, a restringir el procesamiento de sus datos. En este caso, el Titular no procesará sus Datos para ningún otro fin que no sea su almacenamiento.
          Hacer que se eliminen o eliminen sus Datos personales. Los usuarios tienen derecho, en determinadas circunstancias, a obtener el borrado de sus datos del propietario.
          Recibir sus datos y transferirlos a otro controlador. Los usuarios tienen derecho a recibir sus Datos en un formato estructurado, de uso común y legible por máquina y, si es técnicamente posible, a que se transmitan a otro responsable del tratamiento sin ningún obstáculo. Esta disposición es aplicable siempre que los Datos se procesen por medios automatizados y que el procesamiento se base en el consentimiento del Usuario, en un contrato del que el Usuario sea parte o en obligaciones precontractuales del mismo.
          Presenta una queja. Los usuarios tienen derecho a presentar una reclamación ante su autoridad de protección de datos competente.
        </p>
        <p>Cambios a esta política de privacidad</p>
        <p>

          El Propietario se reserva el derecho de realizar cambios en esta política de privacidad en cualquier momento notificando a sus Usuarios en esta página y posiblemente dentro de esta Aplicación y / o, en la medida en que sea técnica y legalmente posible, enviando un aviso a los Usuarios a través de cualquier información de contacto disponible para el propietario. Se recomienda encarecidamente consultar esta página con frecuencia, refiriéndose a la fecha de la última modificación que se indica en la parte inferior.

          Si los cambios afectan las actividades de procesamiento realizadas sobre la base del consentimiento del Usuario, el Propietario deberá obtener un nuevo consentimiento del Usuario, cuando sea necesario.
        </p>
        <p>Última actualización: 08 de noviembre del 2020</p>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <a href="https://play.google.com/store/apps/details?id=com.kikepe.sacameeldescuento">
      <img src="../../assets/img/gplay.png" alt="Disponible en Google Play">
      </a>
    </div>
  </div>
</div>
